<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Home</title>
    <link rel="stylesheet" href="../../public/css/estilo.css">
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/640px-International_Pok%C3%A9mon_logo.svg.png" alt=""  width="300px" style="padding: 10px; margin-top: 10px;
margin-left: 10px;">

    <h1>BEM-VINDO A API </h1>
    <a href="index.html">
        
        <button>
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text"> Pokedéx
            </span>
          </button>
</a>

<footer><p>© Projeto realizado por meninos de TI. Para fins de aprendizagem</p></footer>

</body>
</html>